
//Import de toutes les feuilles SCSS partielles dédiées.
//Cette seule feuille est chargée par Drupal
//Compass va compiler les partiels pour fabriquer cette feuille

// Importer les fichiers scss partiels (avec _) afin de compiler le
// fichier css final utile pour le thème
// Activer compass via 
// webmaster@vm-server1:~$ compass watch /var/www/drupal6/sites/all/themes/THEMENAMEFOLDER/

//http://www.zell-weekeat.com/susy2-tutorial/

/*---- VERSIONS ----
--- 2015-03-04 ---
compass-1.0.3
sass-3.4.13
susy-2.2.2
breakpoint-2.5.0
---------------------*/

//Reset des propriétés : important pour utiliser Susy 2
@import "normalize302";

// Import de Compass
@import "compass";


//Import des plugins de Compass
@import "susy";// utiliser susyone si syntaxe ancienne(Susy v1),sinon susy pour utiliser v2
//@import 'modular-scale';
@import "breakpoint"; // Pour utiliser les breakpoint de compass
@import "sassy-buttons";

// Import des réglages susy pour la grille
@import "global/variables";


// Import des styles et polices Provence Formation
@import "global/mixins_custom";
@import "global/typos";
@import "global/style";
@import "global/sub-nav";


// Import des partiels du layout du thème Drupal

@import "layout/layout";
@import "layout/layout-nodes";
@import "layout/layout-header";
@import "layout/layout-footer";
@import "layout/layout-defilant";
@import "layout/layout-bandeau";
@import "layout/layout-off-canvas-susy";
// Les BREAKPOINTS
        
@import "layout/layout-bp-tablet";
@import "layout/layout-bp-desktop";
//@import "layout/layout-bp-mobile-landscape";

@import "ui/maintenance";
@import "ui/search";
@import "ui/style-backoffice";
//@import "ui/volet_coulissant_css";

//Import Homepage - choisir quel layout utiliser

//@import "content-type/frontpage-agtest";
//@import "content-type/frontpage-pano";
//@import "content-type/frontpage-verticalDroit";
//@import "content-type/frontpage-verticalGauche";
@import "content-type/frontpage-institutionnel";



// Import des partiels pour les node.tpl
//@import "content-type/node-TYPE";
@import "content-type/views";

@import "content-type/page-lycee";
//@import "content-type/contenu-vdl";
//@import "content-type/page-pole";

//Content type site PF
@import "content-type/contenu-actu-presse-asso";
@import "content-type/fiche-formation-pf";
@import "content-type/contenu-poste-bts-alternance";
/*@import "content-type/page-association";
@import "content-type/page-lycee";
@import "content-type/page-formations";
@import "content-type/page-bourses";
@import "content-type/page-bts";
@import "content-type/fiche-bts";
@import "content-type/page-partenaires";
@import "content-type/page-actualites";
@import "content-type/page-contact";
@import "content-type/page-recrutement";*/

//developpement
//@import "content-type/page-agtest";
//@import "layout/layout-debug-colour";

//Galeries slideshow views
@import "galeries/_views_slideshow";