/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Styles globaux
/*------- EFFETS VISUELS GENERIQUES--------------*/
.ombrage {
    @include ombrage;
}
.ombrage_bas {
    @include ombrage-bas;
}
.table_tr_ombrage_bas{
    @include table-tr-ombrage-bas;
}
.ombrage_bloc {
    @include ombrage-bloc;
}
.ombrage_bas_table_actu{
    @include ombrage-bas-table-actu;
}

/**-- style du fil d'ariane --**/

.ariane .breadcrumb {
    display: none;
    @include breakpoint ($desktop){
        display: block;
        padding: 0 0 0 0.3em;
        color: #C0c0c0;
        text-decoration: none;
        background: chocolate;//supprimer en PROD
        a {
            color: #FFF;
            text-decoration: none;
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }

}