//Navigation horizontale secondaire, responsive pour mobile
// Utilisation de selectnav.js pour avoir un menu responsive
// http://lukaszfiszer.github.io/selectnav.js/
// https://github.com/lukaszfiszer/selectnav.js

aside.navStatic{
    .horizontal-nav { display: none; }
    .js #subnav { display: none; }
    .js .selectnav {display: block;}
    select{width: 100%}    
    @include susy-breakpoint ($desktop){
        .selectnav { display: none; }
        .horizontal-nav { display:block; }
        ul.horizontal-nav {        
            @include horizontal-list-container;//Compass Mixin
            padding-top: 1em;
            li {
                @include horizontal-list-item;//Compass Mixin
                //@include span(1 of 8);
                padding: 0;
                text-align:center;
                font-size: 1.55em;

                img{
                    //@include adaptable-img;
                    //margin: 0 0 0 6.8em;
                }
                a {
                    // vertical alignment
                    margin: 0 em(2px);
                    border: 0;
                    font-family: $AristaFont;
                    color: $gris-anthracite;
                    text-decoration: none;
                    display: block;
                    @include adjust-font-size-to(16px);
                    &:hover {
                        color: $orange-fonce;
                    }
                }
            }
        }
    }
}
