//Navigation horizontale secondaire, responsive pour mobile
// Utilisation de selectnav.js pour avoir un menu responsive
// http://lukaszfiszer.github.io/selectnav.js/
// https://github.com/lukaszfiszer/selectnav.js
// Utilisation de flexbox pour ordre des items
aside.navStatic{
    .horizontal-nav { display: none; }
    .js #subnav { display: none; }
    .js .selectnav {display: block;}
    select{width: 100%}    
    @include breakpoint ($desktop){
        .selectnav { display: none; }
        .horizontal-nav { display:block; }
        ul.horizontal-nav {        
            //Flexbox initialisation du conteneur
        @include display-flex;//Compass Mixin
       @include flex-flow(row wrap);
       
            @include horizontal-list-container;//Compass Mixin
            @include break;
            padding-top: 1em;
            li {
              @include flex(1 0 auto);
                @include horizontal-list-item;//Compass Mixin
               
                padding: 0;
                text-align:center;
                list-style: none;
               // float: right;//inverse ordre des items,pas besoin avec flexbox

                &:last-child {
              //  @include last;
                  // width: 30%;//Permet de limiter la taille de la derniere li
                }
              
                a {
                    // vertical alignment
                    margin: 0.25em;
                    border: 0;
                    font-family: $AristaFont;
                    color: $bleu-turquoise;//couleur des liens
                    text-decoration: none;
                    display: block;
                    font-size: large;//1.8em
                    &:hover {
                        color: $violet;//couleur du hover
                    }
                    img{
                   @include adaptable-img;
                   
                   margin: 0;
                }
                
                }
               
            }
            li.logo{
                background-image: image-url("logo-Pf-sites-lycees.jpg");//avec compass
                background-position: left 0.3em;
                background-size: contain;
                text-indent: -9999em;
                width: 18em;//règle la taille du logo
            }
        }
    }
}

//Subnav dans une table, comme système original, mais pas RWD
aside.navPicto{
    table{
        display: table-row;
    }
    a {
                    float: left;
                    margin: 0 0 0 0.5em;
                    border: 0;
                    font-size: 1.55em;
                    font-family: $AristaFont;
                    color: $gris-anthracite;
                    text-decoration: none;
                    display: block;
                    @include adjust-font-size-to(16px);
                    &:hover {
                        color: $orange-fonce;
                    }
    }
}