/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤

----- TYPOS PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
/* Ressources
http://www.developerdrive.com/2015/02/control-vertical-rhythm-using-sass-and-compass/
*/

// Vertical rhythm pour la taille de typo selon compass
$base-font-size:16px;
$base-line-height: 24px;
@include establish-baseline;

// Create em() for setting font-sizes in pixels.
@function em($target, $context: $base-font-size) {
@if $target == 0 { @return 0 }
@return $target / $context + 0em;
}

 /*------- TYPOS CUSTOM ---------------*/
@font-face {
    font-family : "Arista";
    src: url(../typos/Arista2.0_light.eot); /* IE */
    src: local("Arista"), url(../typos/Arista2.0_light.ttf) format('truetype');/* non-IE */
}
/*_____  POLICES _____*/
$AristaFont : "Arista", Trebuchet MS, sans-serif;
$TrebuchetFont : Trebuchet MS, Verdana, Helvetica, sans-serif;

/*====================================|
==             CSS H                ==|
=====================================*/
h1, .h1,h2, .h2 ,h3, .h3,h4, .h4,h5, .h5,h6, .h6{
    padding:0.3em;margin: 0.3em 0 0 0;color:#000;
}

h1, .h1 {
	
	font-size: em(20px);
}
  
h2, .h2 {
	
	font-size: em(18px);
}
h2.title{
	

	font-size: em(18px);

 a{
	color:$rouge;
}
}
h3, .h3{
	
	
	font-size: em(16px);
}
h4, .h4{
	
	font-size: em(14px);
}
h5, .h5 {
	
	



	font-size: em(12px);
}
h6, .h6 {
	



	font-size: em(10px);
}
/*---------------- TITRES -----------------------*/
@mixin titre-page ($margin : 0.1em){
     font-size : x-large;
     margin: $margin;
         
}
@mixin decotitre-formation ($margin : 0.1em, $paddingTop : 0.1em){
     font-size : x-large;
     margin: $margin;
     line-height: 1.1em;
     text-align: right;
     padding: $paddingTop 0 0 0;
     background: image-url("/images/deco_fiche_formation.gif") no-repeat top left;//Compass syntax
     
}

/*------------ PARAGRAPHES ---------------*/
//Vertical Rythm via compass pour tout le site
.conteneur{
    p{
        //@include leader();//ajoute un margin ou padding top
        @include adjust-font-size-to(10px);//calcule un  line-height selon le rythme vertical
       //margin-bottom: rhythm(1, 12px);//calcule un margin-bottom selon le rythme vertical
        
    }
    #header{@include adjust-font-size-to(12px);}
    .content-global{}
    #left-content{}
    .content-inner{
        p,td, ul{

            padding: 0.15em;
            font-size: small;
        }
        ul{
            list-style: inside;
        }
    }
    #right-content{}
    #footer{@include adjust-font-size-to(10px);
        p{
            @include trailer();
         font-size: small;
        padding: 0.3em;}
    }
}
.HPBasGauche, .HPBasDroit {
        p{
        @include adjust-font-size-to(12px);
    }
}