/* Changing Susy default global settings */
//*Réglage de la grille de SusyOne - approche mobile-first
$total-columns: 4;             // nombre de colonnes de la grille de base
$column-width: 4.15em;            // largeur de chaque colonnes (px,em,%)
$gutter-width: 1em;            // taille de la gouttière entre colonnes (px,em,%)
$grid-padding: $gutter-width/2;  // taille de padding des colonnes

$container-style: magic; // default to magic. Switch to fluid or fixed if desired
//$container-width: 100%; //seulement si utilisé avec fluid grid
$susy: (
// the basics
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
  
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
  );

/* Makes border-box properties */
@include border-box-sizing;

//Réglage du nombre de pixel pour changer de breakpoint() mixin 
// qui simplifie les media-queries
$mobile   :  max-width 700px;
$tablet   :  max-width 989px;
$desktop  :  min-width 990px;

//Valeurs de colonnes issues de susyone pour les mixins comme @include span()
$mobilecol   : 4;
$tabletcol   : 8;
$desktopcol  : 12;

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- VARIABLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/


/*-------- Couleurs charte graphique PF ----*/
$vert : #ADC91F;
$violet: #911381;
$orange : #F29400;
$orange-fonce: #DE603A;
$bleu-turquoise: #01ABCF;
$rouge : #E3001C;
$rose-fushia : #E30078;
$jaune : #FAEB0C;
$gris-clair: #ECECED;
$gris-clair-moyen : #9898a6;
$gris-anthracite : #606070;
$noir: #000000;

// Ici paramétrer les couleurs pour l'annonce défilante
$color-defilant:#606070;
$color-defilant-a:#E3001C;

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- FONCTIONS PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/



/* ==============================
  Mixins custom PROVENCE FORMATION
=================================*/