// Importer les fichiers scss partiels (avec _) afin de compiler le
// fichier css final utile pour le thème
// Activer compass via 
// webmaster@vm-server1:~$ compass watch /var/www/drupal6/sites/all/themes/THEMENAMEFOLDER/



html {
 margin: 0;
 padding: 0;
}


body {	
    font-family: $TrebuchetFont;

}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/

 
 //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}
  
// il faut utiliser pour un même bloc et pour chaque breakpoint 
//soit span pour partitionner un bloc
//soit max-width: container(); pour utiliser la taille du conteneur parent
// sinon problèmes dans la grille !
 
/*-- LAYOUT PRINCIPAL --*/
body .conteneur{
    //Approche mobile-first,réglage pour mobile
    @include container($susy);// largeur stricte
    @debug susy-get(columns);
    @include show-grid(overlay);
    
    // This is the default clearfix from Compass. You can opt to use other clearfix methods
  
    background: transparent;
    padding-top: 2em;  
    
        #header{
             //voir _layout-header.scss
        }
        .content-global{
           // max-width: container();
           //@include clearfix;            
        }
        .content-inner{
            //max-width: container();
            //@include clearfix;
            .content-header{
                
            }
        }
        .content-top{
            //max-width: container();
            //@include clearfix;    
            .ariane{//clear: both;}
        }
        .middle-content{
            //max-width: container();
            //@include clearfix;
        }
        .node-inner{
            //max-width: container();
            //@include clearfix;
            
        }
        .content-bottom{
            //max-width: container();
            //@include clearfix;
        }
        .content-bottom-home{
            //max-width: container();
            //@include clearfix;    
        }
        
            #left-content{}
            #right-content{}
            #footer{
            //pas besoin de mixin car bloc prend toute la largeur
            @include background-size;
        }



}//Fin definition du conteneur principal et ses enfants



//classe sur le bloc
aside.content_top{
 text-align: center;
}
.content-top-node{
    background-color: #999;
    margin: 0 auto;
    padding: em(5px);  
        }
//Images RWD pour nodes
.node-inner
{
    img,iframe,object,embed{@include adaptable-img;}
    }
}//Pour fermet le scss layout suite inclusion des Breakpoint