
/*-------------------------------------|
|     DIAPO FRONTPAGE                |
|      PANO / VERTICAL                  |
|--------------------------------------*/

  //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}


/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/

//Layout du diaporama dynamique (Views slideshow)
//Code imbriqué à 100%
body .conteneur .HPDiapo{
    aside.DiapoPanoHP{
   
     //max-width: container();
        #transparency{
           display: none;
           
        }
        #contenu-diapo{
           display: none;
        }
    img{@include adaptable-img;}
       @include breakpoint($tablet) {
        #transparency{display: block;}
        #contenu-diapo{display: block;}

    }
    @include breakpoint($desktop) { 
      // @include span(12 of $desktopcol);
       
        #transparency{display: block;}
        #contenu-diapo{display: block;}
      img{@include adaptable-img;}
    }
 
}
}

// Style du diaporama dynamique avec Overlay // Pas affiché sur Mobile
body .conteneur .HPDiapo .field-content{
    
}

body .conteneur .HPDiapo{
    display: none;
    @include breakpoint ($desktop){
        display: block;
        #transparency{
            
            height:em(60px);
            bottom:em(73px); 
            left:em(12px);
            width: 98%;
            position:relative;
            z-index:15;
            @include rgba-background($bleu-turquoise,0.6);/*Couleur et opacité du fond*/
        }
        #contenu-diapo {

            position: relative;
            bottom:8.375em;
            left: em(10px);
            color: white;
            z-index: 20;


            h2,p {
                color: white;
                padding: em(5px);
                font-family: $AristaFont;
                line-height: 1.3em;
            }
            a {

                text-decoration: none;
            }
              p{
      margin-top: 0.2em;
      font-size: medium;
  }
        }
    }
}