/*-------------------------------------|
|       FOOTER DU SITE                 |
|--------------------------------------*/

//Breakpoints
// @include susy-breakpoint ($mobile){}
// @include susy-breakpoint ($desktop){}
// @include susy-breakpoint ($tablet){}

#footer{
    padding:em(30px) 0;
    color: $gris-clair-moyen;//Changer couleur selon besoin
    background: transparent image-url('bg_footer.jpg') no-repeat scroll right bottom;
    aside{
       
    }
    p{
        
    }
    a {
        color: $gris-clair-moyen;
        text-decoration: none;
        &:hover {
            color: $gris-anthracite;
        }
    }
    @include breakpoint ($mobile){
        aside{
        background-color: teal;     
    }      
         @include background-size();
    }
    @include breakpoint ($desktop){
         @include background-size(auto);
          aside{
      background: yellowgreen;
    }  
         
    }
    @include breakpoint ($tablet){
        aside{
      background:sandybrown;
    }  
    }
}
/*Bas de page  FOOTER*/


#bloc_stats{
    color:red;        
}
