
// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|     FRONTPAGE  VERTICAL GAUCHE       |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}

//Code imbriqué à 100%
body .conteneur {
    //Pas de @include container($total-columns); car deja mis dans layout !!!
    background:transparent image-url("bg_content_etoile.gif") no-repeat left bottom;

    .HPDiapoVerticalGaucheVerticalGauche{
        //@include span($mobile);//image ok sur mob mais pas sur desk
        width: container();
        @include clearfix;
    }
    .HPDroite{
        //width: container();
    }
    .HPDroite1{}
    .HPDroite2{}
    .HPDroite3{}

    @include susy-breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        //Taille du conteneur du groupe
        width: container($tabletcol);
        .HPDiapoVerticalGauche{@include span(4);}
        .HPDroite{@include span(last 4);}
        .HPDroite1{}
        .HPDroite2{}
        .HPDroite3{}

    }
    @include susy-breakpoint($desktop) {/*    //Dimensions pour les pc*/
        //Taille du conteneur du groupe    
        width: container($desktopcol);

        .HPDiapoVerticalGauche{
            
            @include span(6 of $desktopcol);
            @include clearfix;
        }
        .HPDroite{
            @include span(last 6 of $desktopcol);
           
            
            
        }
        .HPDroite1{
            // width: container();

        }
        .HPDroite2{
            // width: container();
            //@include span($desktopcol/2 omega);

        }
        .HPDroite3{

        }
    }

}
//Pour le dev, code visuel sur les blocs selon le breakpoint
// à commenter ou supprimer pour la production
body .conteneur {

    .HPDiapoVerticalGauche{background: orangered;}
    .HPDroite{}
    .HPDroite1{background: #C8D215;}
    .HPDroite2{background: salmon;}
    .HPDroite3{}

    @include susy-breakpoint($desktop) {/*    //Dimensions pour les pc*/
        .HPDiapoVerticalGauche{background: rosybrown;}
        .HPDroite{}
        .HPDroite1{background: gold;}
        .HPDroite2{background: bisque;}
        .HPDroite3{background: inactiveborder;}
    }

    @include susy-breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        .HPDiapoVerticalGauche{}
        .HPDroite{background: #C8D215;}
        .HPDroite1{background: royalblue;}
        .HPDroite2{background: #00CC99;}
        .HPDroite3{}
    }
}
/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home {
    table{width: auto;}
    a {
        //@include zocial;
    }
    ul{
         @include horizontal-list;
        li{}
    }
}

/****************/
.HPDroite {

    background: none;
    color: black;
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}
/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/

//Layout du diaporama dynamique (Views slideshow)
//Code imbriqué à 100%
aside.DiapoHP{
   
     max-width: container();
        #transparency{
            //width: container();
            display: none;
        }
        #contenu-diapo{
            //width: container();
            display: none;
        }
    img{@include adaptable-img;}
       @include susy-breakpoint($tablet) {
        #transparency{display: block;}
        #contenu-diapo{display: block;}

    }
    @include susy-breakpoint($desktop) { 
       
      max-width: container($desktopcol/2);
      @include span(6 of 6);
        #transparency{
            
        }
        #contenu-diapo{
           
        }

    }
 
}

// Style du diaporama dynamique

/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE----*/

#transparency{
background:none repeat scroll 0 0 $rose-fushia;/*Couleur du fond*/
height:em(50px);
bottom:em(65px); 
left:em(12px);
position:relative;
z-index:15;
@include opacity(0.6);
}
#contenu-diapo {
  
  position: relative;
  bottom:em(150px);
  left: em(10px);
  color: white;
  z-index: 20;
  
  
  h2 {
    color: white;
    padding: em(5px);
    font-family: $AristaFont;
  }
  a {
    
    text-decoration: none;
  }
}