// Regroupe le style pour le contenu des node.tpl custom
// Concerne toutes les pages qui créer du contenu :
// Sortie, Projet, APE, Entreprise, Innonvations, Intervenant

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.contenu-vdl{order:1;}
    #colonne-2.contenu-vdl{order:2;}
    #colonne-3.contenu-vdl{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu-vdl{
            @include border-violet-orange;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
/*csa = contenu sortie action
cp = contenu projet
cint = contenu intervenant
cinn = contenu innovation
cape = contenu asso parent eleves
centreprise = contenu lycée-entreprise
*/
h1.titre_page_vdl{
    font-size: x-large;
    color: $orange;
    line-height: 1.0em;
}
.contenu-vdl {
    p, ul{
        padding: em(5px);
        margin: 0;
    }
    h3{
        color: $bleu-turquoise;
        padding: em(2px);
    }
    h2{
        text-align: center;
        color: $bleu-turquoise;
    }
    h4{
        color: $violet;
        padding: em(2px);
        text-indent: em(3px);
    }
    a{
        color: $bleu-turquoise;
        text-decoration: none;
        padding: em(2px);
        text-indent: em(3px);
        &:hover{
            color: white;
            background: $bleu-turquoise;
        }
    }


}
     
#colonne-2.cape,#colonne-2.cinn,#colonne-2.cint,#colonne-2.csa,#colonne-2.cp{
    a{
        color: $orange;
        text-decoration: none;
        padding: em(2px);
        &:hover{
            color: white;
            background: $orange;
        }
    }
}
.illustration-vdl{
    float: right;
    img{
    margin: 3px;
    @include cadre-ombre (0.2,white);
}
}

#video-vdl{
    width: 89%;
    display: block;
    margin: 0 auto;
    padding: em(2px);
    border: 0.3em solid $violet;
}
#colonne-2 .galerie-vdl{
    margin: 11em 0;
    padding: em(5px) 0;
    h3{
        text-align: center;
        color: $violet;
        font-size: medium;
        margin: em(5px);
    }
    
}

.view-Diapo-vie-du-lycee img{
        @include cadre-ombre (0.2,white);
}